body {
    color: black;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(./IMG/fundo.jpg);
}

h4 {

    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #052176;
    font-weight: bold;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    text-shadow: 1.4px 1.4px #929292,
    2.1px 2.1px #929292,
    2.8px 2.8px #929292,
    3.5px 3.5px #929292,
    4.2px 4.2px #929292,
    4.9px 4.9px #929292,
    5.7px 5.7px #929292,
    6.4px 6.4px #929292,
    7.1px 7.1px #929292,
    7.8px 7.8px #929292,
    8.5px 8.5px #929292,
    9.2px 9.2px #929292,
    9.9px 9.9px #929292,
    10.6px 10.6px #929292,
    11.3px 11.3px #929292,
    12.0px 12.0px #929292,
    12.7px 12.7px #929292,
    13.4px 13.4px #929292;
}
  
fieldset {

    background-color: #ffffff;
    box-shadow: 0 5px #e670be;
    padding: 15px;
}

.formularioContato { 

    max-width:600px; 
    height:auto; 
    float:none; 
    margin:auto; 
    padding:1em; 
    margin-bottom:1em; 
    border-radius:6px; 
    background:#fff; 
    box-shadow: 1px 0px 1.2px 0px #ccc; 
    position:relative; 
}

.formularioContato:before { 

    width:0; 
    height:0; 
    border:15px solid transparent; 
    border-bottom-color:#fff; 
    content:""; 
    position:absolute; 
    left:6%; 
    top:-4.5%; 
    margin-top:-4px; 
    margin-left:6px; 
    z-index:2;

}

.formularioContato label  { 

    float:left; 
    width:100%; 
    margin-bottom:1.2em; 

}

.formularioContato label span {

    width: 100%;
    float: left;
    color: #999;
    margin-bottom: 6px;
    font-family:'open_sansregular'; 

}

.formularioContato label input  { 

    font-size:1em; 
    color:#555; 
    font-family:'open_sansregular'; 
    outline:none; 
    border:1px #dee5ed solid; 
    border-radius:4px; 
    padding:0.6em; 
    transition: 0.3s;  

}

.formularioContato label select { 

    font-size:1em; 
    color:#555; 
    border:1px #dee5ed solid; 
    border-radius:4px; 
    padding:0.6em; 
    outline:none; 
    transition: 0.3s;  

}

.formularioContato label textarea { 

    font-size:1em; 
    color:#555; 
    border:1px #dee5ed solid; 
    border-radius:4px; 
    padding:0.6em; 
    outline:none;
    transition: 0.3s;   

}

.formularioContato label input:focus    { box-shadow:0 0 5px 0px rgb(178,216,231); border:1px rgb(37,174,230) solid; color:rgb(37,174,230);}
.formularioContato label select:focus   { box-shadow:0 0 5px 0px rgb(178,216,231); border:1px rgb(37,174,230) solid; }
.formularioContato label textarea:focus { box-shadow:0 0 5px 0px rgb(178,216,231); border:1px rgb(37,174,230) solid; color:rgb(37,174,230);}

.formularioContato button.btn-envia { 

    background-color:rgb(221, 104, 236); 
    width:100%; display:block; 
    margin:auto; cursor:pointer; 
    border-radius:4px;  
    border:0; 
    padding:0.8em 0em; 
    color:#fff; 
    font-size:1.3em; 
    font-family:'open_sansbold'; 
    text-align: center;
    transition: 0.3s;   

}

.formularioContato button.btn-envia:hover { 

    background-color:#333; 

}

a {
    color: black;
    text-decoration: none;
    font-size: x-large;
    font-style: italic;
    padding: 5px;
}

h1 {
    font-size: x-large;
    font-style: italic;
    text-align: center;
    padding: 20px;
    align-items: center;
   background-color: #ecd1eb;
    border-style: dotted ;
    border-color: #daabd7;
}

img {
    align-items: center;
    border-radius: 50%;
    border: 5px solid rgb(201, 93, 192);
}

h1 {
    margin: auto;
}

h5 {
    align-items: center;
}

.menu { background-color: #e1aaec; }

.menu ul {

  margin: 0;
  padding: 0;
  font-size: 0;
  position: relative;
  z-index: 1;
  text-align: center;

}

.menu ul li {

  display: inline-block;
  vertical-align: top;

}

.menu ul li a {

  font-family: 'open_sansregular';
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  display: block;
  line-height: 50px;
  padding: 0 35px;
  letter-spacing: 3px;
  position: relative;

}

.menu ul li a:after {

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4aeab;
  color: #ccc;
  z-index: -1;
  transform: skewX(-35deg);
  opacity: 0;
  transition: opacity 0.3s;

}

.menu ul li:hover a,
.menu ul li:focus a,
.menu ul li.active a {

  color: #282828;

}

.menu ul li:hover a:after,
.menu ul li:focus a:after,
.menu ul li.active a:after {

  opacity: 1;

}